@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900&display=swap');

* {
    box-sizing: border-box;
}

.conteneur {
    
    max-width: 1000px;
    height: 100%;
    margin: auto;
}
header {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.aside {
    display: flex;
    flex: auto;
    align-items: center;
    max-width: 300px;
    padding: 50px;
    background: #3B7BA7;
    margin-top: 30px;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    color: white; 
    margin-top: 30px;
    padding-left: 40px;
}

.prenom {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 700;
    color: black;
    font-size: 60px;
}
.nom {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 900;
    color: #7ba73b;
    font-size: 60px;
}
.titre {
    font-family: 'Cinzel Decorative', cursive;
    color: #939393;
    font-size: 30px;
}
.image {
    border-radius: 50%;
    width: 100%;
}